---
title: JPS Programs Overview
---

<div class="row">
  {% for collection in site.collections %}
  	{% if collection.program_exclude != true %}
      <div class="col-md-4">
        <h2 class="title">
          <a href="{{ collection.label }}" style="text-transform: capitalize"
            >{{ collection.label | replace: "_", " " }}</a
          >
        </h2>
        <ul>
          {% assign pages = site[collection.label] | sort: "order" %}
          {% for pg in pages %}
          <li><a href="{{ pg.url }}">{{ pg.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>
