<div class="row">
  <div id="academic-affairs-box" class="bg-box">
    <img
      src="/assets/img/jps-aa-bg.jpg"
      alt="Doctors walking around unit floor"
      class="img-responsive"
    />
    <div class="shadow-box bg-box-top">
      <div class="shadow-box-internal">
        <h4>RESIDENCIES AND FELLOWSHIPS</h4>
        <ul>
          <!-- Manually update list in aa_programs.yml under _data -->
          {% assign collections = site.collections | sort: "order" %}
          {% for item in site.data.aa_programs %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row blue-bg text-white text-center">
  <img
    id="blue-bg-image"
    src="/assets/img/lower-blue.png"
    alt="Background blue image"
  />

  <div class="row exec-container vertical-center">
    <div class="box col-md-12 text-center">
      <h2 class="text-uppercase" style="font-size: 54px;font-weight: 500;">
        Welcome
      </h2>
      <h3 class="text-uppercase mb-6" style="font-size: 24px;font-weight: 500;">
        From our CEO, Designated Institutional Official, and Executive Director
      </h3>
    </div>
    <div class="col-md-4 exec-member">
      <img src="/assets/img/robert-early.jpg" alt="Robert Early" class="mb-3" />
      <br />
      <p><strong>Robert Earley,</strong></p>
      <p>JPS President and CEO</p>
    </div>
    <div class="col-md-4 exec-member">
      <img
        src="/assets/img/elliott_headshot.jpg"
        alt="Tricia Elliott, MD"
        class="mb-3"
      />
      <br />
      <p><strong>Tricia Elliott, MD,</strong></p>
      <p>
        Senior Vice President, Medical, Academic, and Research Affairs, Chief Academic Officer, and Designated Institutional Offer
      </p>
    </div>
    <div class="col-md-4 exec-member">
      <img
        src="/assets/img/Singer_headshot.jpg"
        alt="Diana Singer"
        class="mb-3"
      />
      <br />
      <p><strong>Diana Singer, MSN, RN, CCRN-K, CNE, C-TAGME,</strong></p>
      <p>
        Executive Director, Academic Affairs
      </p>
    </div>
  </div>
</div>
