<ul>
	{% for item in include.items %}
		{%- capture active -%}{% if item.url == page.url %}active{% endif %}{%- endcapture -%}
		{%- capture children -%}{% if item.children %}expanded{% endif %}{%- endcapture -%}
		{%- capture first -%}{% if forloop.first == true %}first{% endif %}{%- endcapture -%}
		{%- capture last -%}{% if forloop.last == true %}last{% endif %}{%- endcapture -%}

		<li class="{{ active }} {{ children }} {{ first }} {{ last }}">
			<a href="{{ item.url }}">{{ item.title }}</a>
			{%- if item.children -%}
				{%- include menu-loop.html items=item.children -%}
			{%- endif -%}
		</li>
	{% endfor %}
</ul>