<!-- CSS for OMS -->
<link href="https://www.jpshealthnet.org/sites/default/files/OMFS/css/3-30-17-jpsh-oms.css" media="all" rel="stylesheet" type="text/css">
<link href="https://www.jpshealthnet.org/sites/default/files/OMFS/vendor/bxslider/jquery.bxslider.css" media="all" rel="stylesheet" type="text/css">
<!-- /end CSS for OMS -->
<!-- JS for OMS -->
<script src="https://www.jpshealthnet.org/sites/default/files/OMFS/vendor/bxslider/jquery.bxslider.min.js"></script>
<script src="https://www.jpshealthnet.org/sites/default/files/OMFS/js/jpsh-oms.js"></script>
<!-- /end JS for OMS -->