<div class="sub-hero">
	<div class="row">
		<div class="col-md-4">
			<h2 class="text-center title" markdown="1">
				<a href="/academic_affairs" title="Academic Affairs">Academic Affairs</a>
			</h2>
		</div>
		<div class="col-md-4 text-center">
			<div class="color-box">
				<span class="color red"></span>
				<span class="color yellow"></span>
				<span class="color green"></span>
				<span class="color light-blue"></span>
				<span class="color dark-blue"></span>
			</div>
		</div>

		<div class="col-md-4">

		</div>
	</div>
</div>
