<div class="tab-block mb-4 {{ include.class }}">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% for item in site.data.tabs[include.tab_key] %} {% assign slug =
    item.title | slugify %}
    <li
      role="presentation"
      class="{% if forloop.first == true %}active{% endif %}"
    >
      <a
        href="#{{ slug }}"
        aria-controls="{{ slug }}"
        role="tab"
        data-toggle="tab"
        >{{ item.title }}</a
      >
    </li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {%- for item in site.data.tabs[include.tab_key] -%} {% assign slug =
    item.title | slugify %}
    <div
      role="tabpanel"
      class="tab-pane {% if forloop.first == true %}active{% endif %}"
      id="{{ slug }}"
    >
      {{ item.body }}
    </div>
    {%- endfor -%}
  </div>
</div>
