/// Denton.Works theme

/// Colors

$light-green: rgb(206, 232, 219);
$dark-green: rgb(64, 185, 125);
$dark-blue: rgb(55, 93, 158);
$orange: rgb(238, 166, 116);

/// Fonts

$font-family-serif: 'Zilla Slab', serif, times, -apple-system, BlinkMacSystemFont;
$font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace !default;
$font-family-base: $font-family-sans !default;
