<div class="person col-md-12 mb-4 align-bottom">
	<div class="col-md-3 no-gutter">
		<img src="/assets/img/chair.jpg" alt="Chair" class="img-responsive">
	</div>
	<div class="col-md-9">
		<div class="name">{{ title }}</div>
		<div class="department">{{ department }}</div>
		<div class="email">{{ email }}</div>
	</div>
</div>
<div class="col-md-12">
	<a class="more" data-toggle="collapse" href="#collapseExample">+ More</a>
</div>
<div  id="collapseExample" class="col-md-12 collapse">
	{{ content }}
</div>