<!doctype html>
<html lang="en">
  <!-- Head start -->
  {%- include head.html -%}
  <!-- Head end -->
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Header start -->
    {%- include header.html -%}
    <!-- Header end -->
    
    <!-- Main content start -->
    <div id="main-content" class="body">
      {{ content }}
    </div>
    <!-- Main content end -->
  
    <!-- Footer start -->
    {%- include footer.html -%}
    <!-- Footer end -->

    <!-- Scripts start -->
    {%- include scripts.html -%}
    <!-- Scripts end -->
  </body>
</html>
